:root {
    --blue: #1565dd;
    --grey: #333333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--blue);
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.options-container {
    margin: auto;
    max-width: 900px;
    padding: 1rem;
    color: var(--blue);
    font-size: 200%;
}

.accordion {
    background-color: white;
    color: var(--blue);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-size: inherit;
    text-align: left;
    outline: none;
    font-weight: bolder;
    transition: 0.4s;
}
.accordion::after {
    content: "▶";
    float: right;
}

.accordion.active::after {
    content: "▼";
}
.accordion:not(:first-of-type) {
    margin-top: 1rem;
}

.accordion.active,
.accordion:hover {
    background-color: lightgrey;
}

.panel {
    /* padding: 0 18px; */
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.panel li {
    padding: 0.5rem 1rem;
    background-color: white;
}

.panel li:nth-of-type(even) {
    background-color: lightgrey;
}
